body {
    background-color: black;
    color: white;
    font-family:
        Courier New,
        sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: flex-start; /* Aligns content to the top */
    height: 100vh; /* Full viewport height */
}

.container {
    margin: 0 auto; /* Center horizontally with auto margins */
    width: 90vw;
    max-width: 600px;
    padding: 20px;
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        position: fixed; /* Fixes the sidebar position */
        top: 94px; /* Center vertically in the viewport */
        right: calc(50% - 500px); /* Aligns to the right edge */
        width: 150px; /* Adjust the width as needed */
        background-color: black;
        color: white;
        padding: 10px;
        overflow-y: auto; /* Ensures sidebar content is scrollable if needed */
    }
    .sidebar h2 {
        margin-top: 0;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar ul li {
        margin: 10px 0;
    }

    .sidebar ul li a {
        color: white;
        text-decoration: none;
    }

    .sidebar ul li a:hover {
        text-decoration: underline;
    }
    nav {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    nav ul li {
        margin: 10px 0;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }
    td {
        height: 25px;
        text-align: left;
    }
    table {
        width: 100%;
    }
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 13px;
    }
}

.content {
    padding: 20px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

p {
    margin: 20px 0;
}

img {
    width: 100%; /* Ensures the image fits within the container */
    height: auto; /* Maintains aspect ratio */
}

a {
    color: white; /* Default link color */
}

a:visited {
    color: #6f42c1; /* Color after the link has been visited */
}

a:hover {
    color: #ff5722; /* Color when the mouse is over the link */
}

a:active {
    color: #d32f2f; /* Color when the link is clicked */
}

.image-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%; /* Full height of the container */
    padding: 0 10px; /* Example padding between images */
    box-sizing: border-box;
}

.image-wrapper img {
    height: 170px;
    object-fit: cover; /* Ensure images cover the height properly */
    margin: 0 5px; /* Padding between images */
}

.image-wrapper img:first-child {
    margin-left: 0; /* Remove left margin for the first image */
}

.image-wrapper img:last-child {
    margin-right: 0; /* Remove right margin for the last image */
}

/* Scrollable container */
.scroll-box {
    width: 100%; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    overflow-y: auto; /* Vertical scrolling */
    padding-right: 10px; /* Padding for content */
    box-sizing: border-box; /* Include padding in width/height */
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.scroll-box::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.scroll-box::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar color on hover */
}

.parent img {
    width: 150px;
    height: 100%;
    margin-right: 20px;
    margin-top: 22px;
}

.parent {
    display: flex;
}
