body {
    background-color: black;
    color: white;
    font-family:
        JetBrains Mono,
        monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centers the content horizontally */
    align-items: flex-start;
    /* Aligns content to the top */
    height: 100vh;
    /* Full viewport height */
    overflow-x: hidden;
}

.container {
    /*margin: 0 auto;*/
    width: 90vw;
    max-width: 600px;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/jetbrains_mono/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/jetbrains_mono/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.profile_img {
    width: 200px;
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        position: fixed;
        top: 94px;
        right: calc(50% - 500px);
        width: 150px;
        background-color: black;
        color: white;
        /*padding: 10px;*/
        overflow-y: auto;
    }

    .sidebar h2 {
        margin-top: 0;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar ul li {
        margin: 10px 0;
    }

    .sidebar ul li a {
        color: white;
        text-decoration: none;
    }

    .sidebar ul li a:hover {
        text-decoration: underline;
    }

    nav {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

    td {
        height: 25px;
        text-align: left;
    }

    table {
        width: 100%;
    }

    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 13px;
    }

    .profile_img {
        width: 170px;
    }
}

.taxonomy {
    text-align: center;
    /* Center the text */
    font-style: italic;
    /* Italicize the text */
}

.micro-blog {
    padding: 20px 20px 0px 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.content {
    padding: 20px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 300;
    /* Adjust the weight to make it thinner */
    font-size: 48px;
    /* Change this value to your desired size */
}

h1 a {
    text-decoration: none;
    /* Removes the underline */
}

p {
    margin: 20px 0;
}

img {
    width: 100%;
    /* Ensures the image fits within the container */
    height: auto;
    /* Maintains aspect ratio */
}

video {
    width: 100%;
    /* Ensures the image fits within the container */
    height: auto;
    /* Maintains aspect ratio */
}

a {
    color: white;
    /* Default link color */
}

a:visited {
    color: white;
    /* Color after the link has been visited */
}

a:hover {
    color: white;
    /* Color when the mouse is over the link */
}

a:active {
    color: white;
    /* Color when the link is clicked */
}

/* Scrollable container */
.scroll-box {
    width: 100%;
    /* Adjust width as needed */
    height: 150px;
    /* Adjust height as needed */
    overflow-y: auto;
    /* Vertical scrolling */
    padding-right: 10px;
    /* Padding for content */
    box-sizing: border-box;
    /* Include padding in width/height */
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.scroll-box::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

.scroll-box::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track color */
    border-radius: 10px;
    /* Rounded corners */
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded corners */
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Scrollbar color on hover */
}

.parent {
    width: 100%;
}

.parent p {
    margin-bottom: 0;
}

.parent::after {
    display: inline-block;
    content: "";
    display: table;
    clear: both;
}

.floated {
    float: left;
    width: 150px;
    height: 100%;
    margin-right: 20px;
    margin-top: 20px;
}

.floated_game {
    float: left;
    width: 200px;
    height: 100%;
    margin-right: 20px;
}

/* Regular Image Wrapper */

.image-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.image-wrapper img {
    width: auto;
    height: 185px;
    object-fit: contain;
    /* Ensure images cover the height properly */
    margin: 0 5px;
    /* Padding between images */

    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
}

.image-wrapper img:first-child {
    margin-left: 0;
    /* Remove left margin for the first image */
}

.image-wrapper img:last-child {
    margin-right: 0;
    /* Remove right margin for the last image */
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.image-wrapper::-webkit-scrollbar {
    height: 5px;
    /* Width of the scrollbar */
}

.image-wrapper::-webkit-scrollbar-track {
    background: #ffffff;
    /* Track color */
    border-radius: 5px;
    /* Rounded corners */
}

.image-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar color */
    border-radius: 5px;
    /* Rounded corners */
}

.image-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Scrollbar color on hover */
}

/* Tall Image Wrapper */

.image-wrapper-tall {
    overflow-x: auto;
    white-space: nowrap;
}

.image-wrapper-tall img {
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    /* Ensure images cover the height properly */
    margin: 0 5px;
    /* Padding between images */
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
}

.image-wrapper-tall img:first-child {
    margin-left: 0;
    /* Remove left margin for the first image */
}

.image-wrapper-tall img:last-child {
    margin-right: 0;
    /* Remove right margin for the last image */
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.image-wrapper-tall::-webkit-scrollbar {
    height: 5px;
    /* Width of the scrollbar */
}

.image-wrapper-tall::-webkit-scrollbar-track {
    background: #ffffff;
    /* Track color */
    border-radius: 5px;
    /* Rounded corners */
}

.image-wrapper-tall::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar color */
    border-radius: 5px;
    /* Rounded corners */
}

.image-wrapper-tall::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Scrollbar color on hover */
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
    gap: 10px;
    /* Adjust the gap between images */
    padding: 10px;
    box-sizing: border-box;
}

.button-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    /* Ensures images cover the grid cell */
}

.back-to-top {
    background-color: black;
    /* Change to your desired color */
    color: white;
    /* Text color */
    border: none;
    /* No border */
    padding: 10px 40px 10px 0px;
    /* Padding */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s;
    /* Smooth transition */
}

.back-to-top:hover {
    text-decoration: underline;
    /* Underline on hover */
}

.back-to-top-mobile {
    position: fixed;
    /* Fixes the button to the viewport */
    bottom: 10px;
    /* Distance from the bottom */
    right: 10px;
    /* Distance from the right */
    background-color: transparent;
    /* Change to your desired color */
    color: white;
    /* Text color */
    border: none;
    /* No border */
    padding: 10px 10px;
    /* Padding */
    font-size: 32px;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    border-radius: 5px;
    /* Rounded corners */
    transition:
        background-color 0.3s,
        text-decoration 0.3s;
    /* Smooth transition */
    z-index: 1000;
    /* Ensures it stays on top of other elements */
    display: none;
    /* Hide by default */
}

/* New Tall Image Wrapper */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides img {
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    /* Ensure images cover the height properly */
    margin: 0 5px;
    /* Padding between images */
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    /* Space between button groups */
}

.button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.1s;
    border: 1px solid white;
}

.button:hover {
    background-color: black;
    color: white;
    /* Darker green on hover */
}

.button.is-checked {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.button:active {
    background-color: black;
    color: white;
    transform: scale(0.95);
}